<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <title>@ViewData["Title"] Requisições RentShopVT</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <!-- Navbar -->
    @Html.Partial("_Navbar")

    <div class="container-fluid">
        @RenderBody()  <!-- Aqui será inserido o conteúdo da página -->
    </div>

    <!-- Footer -->
    @Html.Partial("_Footer")
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>