<header>
    <nav>
        <div class="container d-flex">
            <img class="mt-2" src="/imgs/favicon.png" width="70" height="70"/>
                    <h2 id="TextoHeader" class=" "> Site Referente ao App RentShopVT</h2>
            </div>


        </div>
    </nav>
</header>