@{
    Layout = "_Layout";
}
<div id="Conteudo">
    <div class="container ml-3 mr-3" >
        <div class="row">
            <div class="col-md-12">
                    <h3 class="text-center my-3">Bem-vindo à Página de Requisições do App RentShopVT</h3>
            </div>
            <div class="col-md-12">
                    <h6 class="text-center">Aqui serão adicionados adicionados Requisições e seus respectivos retornos esperados para fins de teste </h6>
            </div>
            <div id="Testes" class="col-md-12 my-3">
                    <div class="container ">
                        <div class="row">
                            <div class="col-md-12">
                                    <h4 class="text-center my-3">Quais Requisições serão utilizadas?</h4>
                            </div>
                            <div class="col-md-6">
                                <h5 class="text-center m-3">Requisição GET</h5>
                                <h6 class="ml-4 mb-3 text-center">Comandos e seus Respectivos retornos esperados:</h6>
                                <div class="row">
                                    <div id="ComandosGet" class="col-md-12">
                                        <p>Priemiro comando </p>
                                        <p>Priemiro comando </p>
                                        <p>Priemiro comando </p>
                                        <p>Priemiro comando </p>
                                        <p>Priemiro comando </p>
                                        <p>Priemiro comando </p>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-6">
                                 <h5 class="text-center m-3">Requisição POST</h5>
                                 <h6 class="ml-4 mb-3 text-center">Comandos e seus Respectivos retornos esperados:</h6>
                                    <div id="ComandosPost" class="col-md-12">
                                        <p>Priemiro comando </p>
                                        <p>Priemiro comando </p>
                                        <p>Priemiro comando </p>
                                        <p>Priemiro comando </p>
                                        <p>Priemiro comando </p>
                                        <p>Priemiro comando </p>
                                    </div>
                            </div>
                            
                        </div>

                    </div>
            <div class="col-md-12">
                <h3 class=" text-center my-3">
                    Comandos caso queira testar os tipos de retornos utilize a área há seguir
                </h3>


                 

                <div class="row">
                    <div class="col-md-12 d-flex justify-content-center my-4">
                        <input  id="InputComandos" placeholder="Digite o local do comando para efetuar a Requisição"/>   
                    </div>
                    <div class="col-md-6 d-flex justify-content-center my-3">
                        <button class="botaoEnviarGet">Enviar Requisição GET</button>
                    </div>
                    <div class="col-md-6 d-flex justify-content-center my-3">
                        <button class="botaoEnviarPost">Enviar Requisição POST</button>
                    </div>
                </div>

            </div>
            <div class="col-md-12">
                <h6 class="mx-3">Retorno da API:</h6>
            </div>
            <div class="col-md-12">
                <div id="CodigoRetornado">
                        <pre> 
                            
                        </pre>
                </div>
            </div>
            </div>



        </div>

    </div>
        
</div>
