@{
    Layout = "_Layout";
}
<div id="Divisoria"></div>
<div id="Conteudo">
    <div class="container ml-3 mr-3" >
        <div class="row">
            <div class="col-md-12">
                    <h3 class="text-center my-3">Bem-vindo à Página de Requisições do App RentShopVT</h3>
            </div>
            <div class="col-md-12">
                    <h6 class="text-center">Aqui serão adicionados adicionados Requisições e seus respectivos retornos esperados para fins de teste </h6>
            </div>
            <div id="Testes" class="col-md-12 my-3">
                    <div class="container ">
                        <div class="row">
                            <div class="col-md-12">
                                    <h4 class="text-center my-3">Quais Requisições serão utilizadas?</h4>
                            </div>
                            <div class="col-md-6">
                                <h5 class="text-center m-3">Requisição GET</h5>
                                <h6 class="ml-4 mb-3 text-center">Comandos e seus Respectivos retornos esperados:</h6>
                                <div class="row">
                                    <div id="ComandosGet" class="col-md-12">
                                        <p class="text-center">/api/reqGet </p>
                                        <p class="text-center">Essa Requisição para Enviar não é necessario Inserir Valores</p>
                                        <p class="text-center"><strong>Ao Fim retorna todos os Usuarios do banco, incluindo Nome, Email, Senha,e Cpf</strong></p>
                                        <hr>

                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-6">
                                 <h5 class="text-center m-3">Requisição POST</h5>
                                 <h6 class="ml-4 mb-3 text-center">Comandos e seus Respectivos retornos esperados:</h6>
                                    <div id="ComandosPost" class="col-md-12">
                                        <p class="text-center">/api/reqPost </p>
                                        <p class="text-center">Essa Requisição para Enviar não é necessario Inserir Valores</p>
                                        <p class="text-center"><strong>Ao Fim retorna todos os Usuarios do banco, incluindo Nome, Email, Senha,e Cpf</strong></p>
                                         <hr>
                                        <p class="text-center">/api/InserirValores </p>
                                        <p class="text-center">Essa Requisição faz a Inserção de dados no banco.</p>
                                        <p class="text-center"><strong>Sendo os dados obrigatórios, NOME, EMAIL, SENHA, CNPJ OU CPF </strong> </p>
                                        <p class="text-center">Inserir os dados devem serverApi utilizados o seguinte padrao Nome=Valor Senha=Valor e assim para todos os dados da tabela serem inseridos</p>
                                        <hr>
                                        <p class="text-center">/api/VerificarDuplicidade</p>
                                        <p class="text-center">Essa Requisição faz a Procura de um certo dado em um Coluna Especifica em busca de Duplicidades.</p>
                                        <p class="text-center"><strong>Sendo os dados obrigatórios FORMATO Coluna=NomeDaColuna Valor=ValorProcurado </strong> </p>
                                        <hr>
                                        <p class="text-center">/api/VerificarLogin</p>
                                        <p class="text-center">Essa Requisição VerificarDuplicidade se o login de Usuarios é valido e retorna seus Dados.</p>
                                        <p class="text-center"><strong>Sendo os dados obrigatórios FORMATO Email=ValorEmail Senha=ValorSenha </strong> </p>
                                        <hr>
                                        <p class="text-center">/api/uploadimagemperfil</p>
                                        <p class="text-center">Essa Requisição Recebe uploadimagemperfil Arquivo de midia em formato de stream e o armazena em uploads e Envia o link para o usuário.</p>
                                        <p class="text-center"><strong>Sendo os dados obrigatórios FORMATO imagem=arquivodeImagem ID= Id do usuario em questão</strong> </p>
                                        <hr>
                                        <p class="text-center">/api/salvaredes</p>
                                        <p class="text-center">Essa Requisição Recebe as redes sociais do Usuario apaga do banco as anteriores e adiciona as novas podendo serem Vázio.</p>
                                        <p class="text-center"><strong>Sendo os dados obrigatórios FORMATO {"Id":"id do User",
 "RedesSociais":{"NomeDaRedeSocial":["IconePreDefinido","LinkdaRedeSocial","PerfildoUsuarioNaRede"]}</strong> </p>
                                        <hr>
                                    </div>
                            </div>
                            
                        </div>

                    </div>
            <div class="col-md-12">
                <h3 class=" text-center my-3">
                    Comandos caso queira testar os tipos de retornos utilize a área há seguir
                </h3>


                 

                <div class="row">
                    <div class="col-md-12 d-flex justify-content-center my-4">
                        <input  id="InputComandos" placeholder="Digite o local para efetuar a Requisição Ex: http://MeuServer/serverApi/"/>   
                    </div>
                    <div class="col-md-6 my-3">
                        <p class="text-center">
                            Primeiro por Padrão a Requisição GET pode necesitar de parametros no Url Digite seus parametros no input a seguir:
                        </p>
                        <div class="d-flex justify-content-center my-3">
                            <input  id="InputComandosGet" placeholder="Digite o parametro Ex: Nome=Gustavo Idade=30"/>   
                        </div>
                        <div class="d-flex justify-content-center">
                            <button class="botaoEnviarGet" onclick="buscarUsuariosGet()">Enviar Requisição GET</button>
                        </div>
                        
                    </div>
                    <div class="col-md-6 my-3">
                        <p class="text-center">
                            Primeiro por Padrão a Requisição POST pode necesitar de parametros no Content Digite seus parametros no input a seguir:
                        </p>
                        <div class="d-flex justify-content-center my-3">
                            <input  id="InputComandosPost" placeholder="Digite o parametro Ex: Nome=Gustavo Idade=30"/>   
                        </div>
                        <div class="d-flex justify-content-center">
                            <button class="botaoEnviarPost" onclick="buscarUsuariosPost()">Enviar Requisição POST</button>
                        </div>
                        
                    </div>
                </div>

            </div>
            <div class="col-md-12">
                <h6 class="mx-3">Retorno da API:</h6>
            </div>
            <div class="col-md-12">
                <div id="CodigoRetornado">
                        <pre id="RetornoApi"> 
                            
                        </pre>
                </div>
            </div>
            </div>



        </div>

    </div>
        
</div>
