*{
  padding: 0;
  margin: 0;
}

html body
{
  background-color: #E2FDFF;
  width: 100%;
  height: 100%;
  color: #3D4DDE;
}
/*Conteudo Header*/
header
{
  position: fixed;
  background-color: #3D4DDE;
  height: 100px;
  min-width:100% ;
  z-index: 2;
  color: #E2FDFF;
  padding: 1px;
  font-size: larger;
}
#TextoHeader
{
  margin-left: 10px;
  font-size: larger;
  margin-top: 25px;
}

/*Conteudo Central*/
#Conteudo
{
  padding-top: 100px;
  width: 100%;
  height: 100%;
}

#Testes
{
  border-radius: 10px;
  box-shadow: 1px 2px 3px 1px #3D4DDE;
}

#ComandosGet
{
  padding: 10px;
  border-radius: 10px;
  background-color: #6a7dfb70;
}
#ComandosPost
{
  padding: 10px;
  border-radius: 10px;
  background-color: #6a7dfb70;
}

#InputComandos
{
  background-color: #3D4DDE;
  padding: 10px;
  min-width: 80%;
  border-radius: 10px;
  color:#E2FDFF;
  border: #3D4DDE;
}
#InputComandos::placeholder
{
  color: #E2FDFF;
  text-align: center;
}

.botaoEnviarGet
{
  border-radius: 10px;
  padding: 10px;
  background-color: #6A7DFB;
  color: #E2FDFF;
}
.botaoEnviarPost
{
  border-radius: 10px;
  padding: 10px;
  background-color: #6A7DFB;
  color: #E2FDFF;
}

#CodigoRetornado
{
  font-weight: bold;
  color: black;
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.199);
  max-width: 100%;
  height: 400px;
  overflow-y: scroll;
}
#CodigoRetornado::-webkit-scrollbar
{
  background-color: #3D4DDE;
  border-radius: 3px;
  width: 5px;
}
#CodigoRetornado::-webkit-scrollbar-thumb
{
  background-color: #E2FDFF;
  border-radius: 3px;
}


/*Conteudo Footer*/
footer
{
  background-color: #3D4DDE;
  color:#E2FDFF;
  font-weight: bold;
  min-height: 100px;
  text-align: center;
  padding-top: 35px;
  font-size: larger;
}